*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.btn-brand {
  color: white;
  padding: 5px 30px;
  border-radius: 5px;
}
.btn-brand {
  background-color: #111430;
}
.btn-second {
  background-color: green;
}
.btn-brand:hover {
  background-color: #111430;
  color: white;
  padding: 5px 30px;
  border-radius: 5px;
}
.logo-brand {
  height: 40px;
}
.link {
  color: #111430;
  font-weight: 500;
  opacity: 0.5;
  margin: 0 10px;
  position: relative;
}

.link:hover {
  color: #111430;
  opacity: 1;
  border-bottom: 2px solid rgb(71, 226, 71);
  text-decoration: none;
}
.input-brand {
  margin-bottom: 1%;
  padding: 2% 1%;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 7px;
  width: 60%;
}
textarea {
  border: none;
  outline: none;
}
